
.tab-view {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    margin-top:10px;
}
button.tab-link {
    border: 0;
    padding: 10px;
    outline: 0;
    display: flex;
    margin:5px;
}

button.tab-link.active {
    color: white;
    background-color: black;
}