@layout DashboardLayout
@page "/session"
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.LoyaltyService LoyaltyService
@inject RavenNest.Blazor.Services.PlayerService PlayerService
@inject RavenNest.Blazor.Services.ItemService ItemService

@inject NavigationManager NavigationManager

<h1 class="page-title">My active game session</h1>

@if (gameSession == null)
{
    <LoadIndicator></LoadIndicator>
}
else
{
    <p>It seem like you're streaming right now but this page is not done yet. Please come back later.</p>
}

@code {
    private RavenNest.Models.SessionInfo session;
    private RavenNest.DataModels.GameSession gameSession;

    protected override async Task OnInitializedAsync()
    {
        session = AuthService.GetSession();
        if (session == null || !session.Authenticated)
        {
            return;
        }

        gameSession = AuthService.GetActiveGameSession();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (session == null || !session.Authenticated)
        {
            NavigationManager.NavigateTo("/login/redirect/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri));
        }
    }
}
