@inject NavigationManager NavigationManager
@inject RavenNest.Blazor.Services.CookieService CookieService
@inject IJSRuntime JSRuntime

@if (visible)
{
  <div class="cookiebox">
    <div class="container">
      <h4 style="color: #666666 "> We use cookies to ensure the website works </h4>
      <p>This website is using cookies to improve and making sure the website works as expected. If you don't accept the use of cookies you can turn it off in the settings of your browser. There will be a risk that the website will not work as expected by doing so.</p>
      <a class="close-btn" @onclick="CloseAndAcceptCookies"><span>Accept and Close </span><i class="fa fa-times" aria-hidden="true"></i></a>

      <RavenButton OnClick="ReadMore">Read More</RavenButton>
    </div>
  </div>
}