.cookiebox {
    position: fixed;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background: #FFF;
    z-index: 9999;
    margin-bottom: 0;
    display: block;
    border-radius: 8px;
    padding: 18px 12px 12px 12px;
    width: auto;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 14px 3px rgba(0, 0, 0, 0.03), 0 8px 10px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 14px 3px rgba(0, 0, 0, 0.03), 0 8px 10px 1px rgba(0, 0, 0, 0.03);
}

.close-btn {
    position: absolute;
    right: 10px;
    font-size: 24px;
    top: 10px;
    cursor: pointer;
    color: #1067d0;
    font-size: 14px;
}

.raven-btn {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

