
a, i, p, b, h1, h2, h3, h4, span {
    font-family: 'Heebo', sans-serif;
}
.notification-icon {
    color: white;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.content {
    display: flex;
    flex-flow: column;
    width: 100vw;
}

h1 {
    font-weight: 800;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}
/*
.main-nav .nav-link {
    font-weight: bold;
}*/

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    display: flex;
    flex-flow: column;
}

.top-row.stretch {
    flex-grow: 1;
}

img.logo {
    width: 160px;
}
/*
.top-social {
    display: flex;
    justify-items: right;
    justify-content: right;
    position: absolute;
}*/

.top-social {
    display: flex;
    justify-items: start;
    justify-content: center;
    position: absolute;
    top: -45px;
    left: 0;
}

.top-social a.nav-link {
    margin: 0;
}

.top-nav {
    width: 100%;
    flex-flow: column;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    flex-wrap: wrap;
}


.top-nav ::deep a, .top-nav .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    color: white;
    /*font-weight: bold;*/
}

.top-nav a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
/*@media (max-width: 590px) {
    .main-nav>a.active:first-child {
        width: 100%;
        display: block;
        flex-grow: 1;
        position: absolute;
    }
    .main-nav img.logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}*/
@media (max-width: 641px) {
    .top-nav.auth {
        justify-content: space-between;
    }

    .section {
        padding: 30px 20px 50px 20px;
    }

    .top-section {
        margin-top: -135px;
    }

    .main-nav {
        margin-top: 15px;
    }

    .top-social {
        /*        top: 585px;
        left: 50%;
        transform: translateX(-50%);*/
        display: none; /* until its fixed */
    }

    .top-nav a, .top-nav .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-nav {
        top: 0;
        z-index: 1;
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
