@inject RavenNest.Blazor.Services.AuthService AuthService

<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">RavenNest.Blazor</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    @if (Dashboard)
    {
      <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
          <span class="oi oi-home" aria-hidden="true"></span> Back
        </NavLink>
      </li>
    }
    else
    {
      <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
          <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
      </li>
      <li class="nav-item px-3">
        <NavLink class="nav-link" href="/highscore" Match="NavLinkMatch.All">
          <span class="oi oi-bar-chart" aria-hidden="true"></span> Highscore
        </NavLink>
      </li>
      @if (IsAuthenticated)
      {
        <li class="nav-item px-3">
          <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
            <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
          </NavLink>
        </li>
        @if (Administrator)
        {
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
              <span class="oi oi-key" aria-hidden="true"></span> Admin
            </NavLink>
          </li>
        }
      }
    }
  </ul>
</div>

@code {
    [Parameter]
    public bool Dashboard { get; set; }

    [Parameter]
    public bool Authenticated { get; set; }

    [Parameter]
    public bool Administrator { get; set; }

    public static NavMenu Instance { get; private set; }

    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
      Instance = this;
    }

    private void ToggleNavMenu()
    {
      collapseNavMenu = !collapseNavMenu;
    }

    private bool IsAuthenticated => Authenticated;
}
