.dark-mode .main {
    background-color: #e7e7e7;
}

.dark-mode .nav-item a.active {
    background-color: #181818;
    color: #eef2ff;
}

.dark-mode .nav-item a:hover {
    background-color: #13134e;
    color: #e4ebff;
}

.dark-mode button.item-filter.active-filter {
    background-color: #ffdb96;
    border-radius: 15px;
}

.dark-mode button.item-filter:hover {
    background-color: #161340;
    color: #eef2ff;
    border-radius: 15px;
}

.dark-mode .stats-progress-value {
    background-color: #aa680029;
}

.dark-mode .inventory-item.enchanted .item-image img,
.dark-mode .inventory-item .item-image img {
    background-color: black;
}

.dark-mode .webgl-content {
    filter: invert(1);
    -webkit-filter: invert(1);
}

.dark-mode .link-button,
.dark-mode .inline-button,
.dark-mode .page .main,
.dark-mode .white-section-break,
.dark-mode .page-content,
.dark-mode .section.patreon,
.dark-mode .item-image img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.dark-mode .ravenfall-tv-logo,
.dark-mode .-badge,
.dark-mode .raven-btn,
.dark-mode .notification-count,
.dark-mode .btn-reward-redeem,
.dark-mode .reward-item-icon,
.dark-mode .btn.btn-action.vendor,
.dark-mode .btn.btn-danger,
.dark-mode .btn.btn-success,
.dark-mode .clan-logo,
.dark-mode td img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.dark-mode .raven-btn.blue.login-btn,
.dark-mode .raven-btn.twitch.twitch-login-btn,
.dark-mode .patreon-content .raven-btn,
.dark-mode .hero-buttons .raven-btn,
.dark-mode .page.front-page .notification-count,
.dark-mode .page.front-page .main {
    filter: invert(0%);
    -webkit-filter: invert(0%);
}

.dark-mode .patreon-profile img.profile-image {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.dark-mode .btn.btn-action.vendor,
.dark-mode .btn.btn-action,
.dark-mode .tab-link {
    /*box-shadow: 0px 2px 5px 1px rgb(255 255 255 / 10%);*/
    box-shadow: none;
}

.dark-mode .stats-row,
.dark-mode .reward-item {
    box-shadow: 2px 2px 5px rgb(255 255 255 / 20%);
}

.dark-mode .stats-row.active,
.dark-mode .tab-link.active {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 10%);
}

.dark-mode .stats-row.active {
    border-bottom-color: black;
}

.dark-mode .stats-row:nth-of-type(2n+2) {
    background-color: #dcdcdc;
}

.dark-mode table.highscore-list,
.dark-mode table.items-list,
.dark-mode table.marketplace-list {
    box-shadow: 0px 1px 3px 1px rgb(255 255 255 / 12%);
    background-color: #e3e3e3;
    border-radius: 0;
}

.dark-mode table.items-list tr:nth-of-type(even),
.dark-mode table.highscore-list tr:nth-of-type(even),
.dark-mode table.marketplace-list tr:nth-of-type(even) {
    background-color: #dfdfdf;
}

.dark-mode button.btn.btn-action {
    background-color: #85d8d4;
    box-shadow: none;
}

.dark-mode .item-details-dialog-background {
    background-color: rgba(255,255,255,0.7);
}

.dark-mode .item-details-dialog {
    box-shadow: 5px 5px 10px rgb(255 255 255 / 25%);
    background-color: #ededed;
}

.dark-mode div.item-actions {
    background-color: #e4e4e4;
}

.dark-mode .item-details-dialog img {
    background-color: black;
}

.dark-mode .download-options .option {
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.03);
}

.dark-mode .front-page .content {
    background-color: #0c0b07;
}

.dark-mode .notification-item {
    background-color: #0c0b07;
}

.dark-mode li.notification-item:hover:hover {
    background-color: #181818;
}

.dark-mode .notification-title {
    color: #f0f0f0;
}

.dark-mode .reward-item {
    background-color: #e1e1e1;
}

.dark-mode .btn-toggle-loyalty-list {
    background-color: #e1e1e1;
}

.dark-mode .stats-row, .dark-mode .reward-item {
    background-color: #e1e1e1;
}

.dark-mode .training-skill {
    background-color: #e1e1e1;
}

.dark-mode .twitch-stream-item {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
