@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Heebo', sans-serif;
    height: 100%;
}

table.highscore-list,
table.items-list, table.marketplace-list {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 12%);
    border-radius: 15px;
    background-color: white;
}

.main {
    flex: 1;
    background-color: #f3f4f8;
}

.content-box {
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    /*
    margin-left: auto;
    margin-right: auto;*/
}

.navbar-toggler {
    border: 0;
    outline: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

a.nav-link.login {
    color: black;
}

a.navbar-brand {
    margin-left: -5px;
    margin-top: 5px;
}

.h1, h1 {
    font-size: 1.75rem;
}

.h3, h3 {
    font-size: 1.25rem;
}

.clan-view-tabs {
    margin-bottom: 25px;
    display: flex;
}

h1:after {
    background-image: url(/imgs/LineBreakWhite.png);
    height: 28px;
}

.patreon-profile {
    display: flex;
    margin-right: 60px;
}

.patreon-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.patreon-profile-details {
    margin-left: 10px;
}

ul.patreon-reward-list {
    display: flex;
    list-style: none;
    padding: 0;
}

li.patreon-reward {
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 13px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 10%);
}

li.patreon-reward.clans {
    margin-right: 10px;
    background: linear-gradient(45deg, #ffdd00, #ffc135);
}

li.patreon-reward.xp-x2 {
    background: linear-gradient(45deg, #f6ffe3, #fff6c5);
}

li.patreon-reward.xp-x3 {
    background: linear-gradient(45deg, #ff742a, #0b00ff);
    color: white;
    margin-right: 10px;
}

li.patreon-reward.xp-x5 {
    background: linear-gradient(45deg, #0b00ff, #a200d2);
    color: white;
    margin-right: 10px;
}

.patreon-actions p {
    color: #606060;
    font-style: italic;
    margin-top: 20px;
    border-top: 1px solid #dedede;
    padding-top: 13px;
    font-size: 10pt;
    /*text-align: center;*/
}

.content-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 100%;
    margin-bottom: 25px;
}


img.profile-image {
    height: 150px;
    border: 1px solid #eaeaea;
}

.hero-text h1 {
    color: white;
}

.hero-text h1:after {
    display: none;
}

.top-section {
    background-image: url('/imgs/TopImage.jpg');
    width: 100vw;
    height: 535px;
    background-position: center;
    background-size: cover;
    margin-top: 0;
    z-index: 0;
    padding: 150px 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.settings-saved {
    color: #2d892d;
}

.page {
    height: fit-content;
}

.page.front-page {
    height: 100%;
}

.page-title {
    margin-top: -30px;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 0px;
    height: 35px;
    text-transform: none;
    color: #082465;
    font-size: 20pt;
    margin-bottom: 25px;
}

.page-title:after {
    background-image: none;
    border-top: 1px solid white;
    margin: 0;
    position: relative;
    top: 3px;
}

.section {
    padding: 30px 100px 50px 100px;
    background-color: #f3f4f8;
}

.content {
    min-height: 400px;
}

button.btn-new {
    border: 0;
    padding: 10px;
    outline: 0;
    display: flex;
    margin: 5px;
    background: linear-gradient(45deg, #082465, #3a0647);
    color: white;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 10%);
}

button.btn-new.link-patreon{
    margin-bottom: 25px;
}

button.btn-new.error {
    background: linear-gradient(45deg, #650808, #8e3d3d);
}

button.tab-link {
    border: 0;
    padding: 10px;
    outline: 0;
    display: flex;
    margin: 5px;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 7px;
    flex-wrap: wrap;
}

button.tab-link.active, .tab-link.active {
    color: white;
    background: linear-gradient(45deg, #082465, #3a0647);
}

.top-row {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    width: 100%;
}


.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link, .top-row a {
    color: white;
    font-size: 10pt;
}

span.notification-count {
    color: white;
    background-color: red;
    border-radius: 12px;
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    font-size: 9pt;
    margin-left: -7px;
    position: relative;
}

td.item.link {
    cursor: pointer;
    text-decoration: underline;
}

td.item.item-actions {
    width: 1px; /* since we have no-wrap this will ensure smallest size */
    flex-wrap: nowrap;
    white-space: nowrap;
}

.item-soulbound {
    color: rgba(0,0,0,0.5);
    font-style: italic;
    font-size: 10pt;
}

.enchantment .item-stat-name, .enchantment .item-stat-value {
    color: #27ae60;
}

span.item-stat-enchantment {
    margin-left: 5px;
    color: #27ae60;
}

.item-enchantment-header {
    font-weight: bold;
    margin-top: 10px;
    font-size: 10pt;
    color: #27ae60;
}

.item-stat, .item-requirement {
    display: flex;
    justify-content: space-between;
}

.item-stat-value {
    font-weight: bold;
}


div.item-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    background-color: #f4f4f4;
    padding: 10px 15px 15px 15px;
    flex-wrap: wrap;
}

.item-actions button.btn {
    font-weight: 300;
    font-size: 10pt;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    .item-actions button.btn
}

button.btn.btn-action {
    background-color: white;
    cursor: pointer;
}

button.btn.btn-action:hover,
button.btn.btn-action:active {
    background-color: #e0f1ff;
}

.white-section-break {
    background-image: url('/imgs/SectionSplitGray.png');
    position: relative;
    top: -166px;
    width: 100%;
    height: 166px;
    display: inline-block;
    z-index: 0;
    pointer-events: none;
}

.loyalty-reward-list {
    display: flex;
    flex-flow: wrap;
    /*justify-content: space-between;*/
}

.loyalty-users {
    margin-top: 25px;
}

.reward-item-icon img {
    width: 64px;
}

.reward-item {
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    /*padding: 5px;*/
    background-color: white;
    min-width: 225px;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    transition: all ease 0.2s;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 45px;
}

.btn-reward-redeem {
    color: white;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
    background: linear-gradient(45deg, #082465, #3a0647);
    flex-grow: 1;
    width: 100%;
    margin: 0;
}
.reward-item .btn-reward-redeem:hover {
    background-color: #f3a800;
}

.reward-item.locked .btn-reward-redeem:hover {
    background-color: #f6f6f6;
}

.locked .btn-reward-redeem {
    opacity: 0.5;
    cursor: default;
    background-color: #f6f6f6;
}

.reward-item-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /*margin-right: 10px;*/
    margin-bottom: 25px;
    margin-top: 15px;
}
.reward-item-name {
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}
.reward-item-type {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    font-size: 9pt;
}
.reward-redeem-confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    5 display: flex;
    flex-flow: column;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.125);
    max-width: 100%;
}

.reward-redeem-confirmation .btn {
    margin-top: 10px;
    margin-right: 10px;
}
.btn-toggle-loyalty-list {
    width: 100%;
    padding: 20px;
    border-top: 2px solid #ebebeb;
    margin-top: 30px;
    cursor: pointer;
    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 13pt;
    background-color: white;
}
.confirm-body select {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #c6c6c6;
}

.confirm-body h3 {
    font-weight: 300;
    font-size: 14pt;
}

.confirm-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.confirm-header button.close {
    padding: 0 10px;
}

.page-content {
    max-width: 100%;
    margin-top: -166px;
    padding: 0;
}

.nav-link.dd:hover .dd-content {
    display: block;
}

.dd-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0,0,0,0.4) 4px 4px 10px;
    margin-left: -16px;
    margin-top: 8px;
}

.nav-link.dd {
    cursor: pointer;
    margin-left: 1.5rem;
}

.top-row a.nav-link.dd-item:hover,
.top-row a.nav-link.dd-item:active,
a.nav-link.dd-item:hover,
a.nav-link.dd-item:active {
    background-color: #eae9e1;
    color: #303030;
}

.top-row a.nav-link.dd-item,
a.nav-link.dd-item {
    margin: 0;
    color: white;
    padding: 10px 25px;
}

.raven-input {
    border: 0;
    background: url(/imgs/InputBackground.png);
    outline: none;
    padding: 30px;
    max-width: 100%;
    width: 324px;
    height: 45px;
    box-sizing: border-box;
    font-size: 13pt;
    margin-bottom: 12px;
    color: white;
    background-size: contain;
}

.raven-input::-webkit-input-placeholder,
.raven-input:-moz-placeholder,
.raven-input::placeholder {
    font-weight: 300;
}

.section .raven-input {
    color: white;
}

.input-fields .input-icon {
    position: relative;
    top: 50px;
    left: 380px;
    color: white;
}

.password .raven-input::-webkit-input-placeholder,
.password .raven-input:-moz-placeholder,
.password .raven-input::placeholder {
    color: #d0d0d0 !important;
}

.password input#password::placeholder {
    color: #d0d0d0;
}

.login-message {
    background-image: url('/imgs/LoginMessageBox.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 80px;
    text-align: center;
    font-size: 20pt;
    color: white;
    font-weight: 700;
    width: 790px;
    max-width: 100%;
    height: 185px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*.main {
    overflow-x: auto;
}*/

.main {
    /* flex: 1; */
    /*display: flex;*/
    flex-grow: 1;
    flex-flow: column;
    /*height: fit-content;*/
    min-height: 100%;
}

.front-page .main {
    background-color: black;
    height: initial;
}



.top-section,
.main,
.content {
    max-width: 100%;
}

.content {
    flex-grow: 1;
}

.admin-controls {
    position: absolute;
    top: 210px;
    right: 15px;
}

.content form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

button.raven-btn.blue.login-btn,
button.raven-btn.twitch.twitch-login-btn {
    width: 325px;
    max-width: 100%;
}

button.raven-btn.twitch.twitch-login-btn {
    margin-top: 20px;
}

h1 {
    font-weight: 700;
    color: #303030;
}

h2 {
    font-weight: bold;
    color: #303030;
}

h3 {
    font-weight: 300;
    margin-bottom: 20px;
    color: #303030;
}

.player-inventory h2 {
    color: #082465;
    font-size: 18pt;
    text-align: center;
}

h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -5px;
}

.front-page h1:after,
.section.patreon h1:after {
    background-image: url('/imgs/LineBreakBlack.png');
}

.section.patreon h1:after {
    content: "";
    background-image: url('/imgs/LineBreakWhite.png');
    height: 25px;
    margin-left: -20px;
}

.section-split {
    background-image: url('/imgs/SectionEndSplitBlack.png');
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 1100px;
    height: 2px;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*.cookies {
    margin-top: 15px;
}*/

footer, .footer {
    width: 100%;
    background-color: black;
    color: #868686;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    position: static;
    bottom: 0;
}

footer:before {
    content: "";
    background-image: url(/imgs/FooterSplit.png);
    display: inline-block;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
    left: 0;
    margin-top: -400px;
}

.footer-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

footer > div > img, .footer-logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 25px;
}

footer h3:before {
    content: "";
    background-image: url('/imgs/WhiteHeaderSplit.png');
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

footer h1,
footer h2,
footer h3,
footer p,
footer a,
footer i,
footer span {
    color: white;
}

footer h3 {
    font-weight: 300;
    font-size: 14pt;
    max-width: 100%;
    width: 780px;
    text-align: center;
}

.oi {
    font-family: Icons !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    font-size: 16pt;
    font-weight: 300;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.--coc-header {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
}


.--coc-message {
    width: 100% !important;
    margin-bottom: 25px;
    padding: 5px 10px;
}


.experience-multiplier form,
.server-notification form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-multiplier form button.btn.btn-primary,
.server-notification form button.btn.btn-primary {
    margin-bottom: 35px;
}

.experience-multiplier form .input-fields input,
.server-notification form .input-fields input {
    padding: 5px 15px;
    margin: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 350px;
}

button.btn.btn-primary.reload {
    font-size: 9pt;
    margin-left: 15px;
}


.player-inventory {
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.item-filters {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.stash.item-filters {
    margin-bottom: 20px;
}

button.item-filter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 0;
    background-color: transparent;
    outline: 0;
}

button.item-filter:active,
button.item-filter:focus {
    outline: 0;
}

.item-filter i {
    font-size: 21pt;
    margin-top: 3px;
    margin-bottom: 5px;
}
span.item-filter-text {
    font-size: 9pt;
}
.item-details-content {
    padding: 25px;
    padding-top: 0;
}

.vendor .dialog-header {
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.item-details-content.vendor {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.item-details-content.vendor .warning-row {
}

span.vendor-name {
    font-weight: 600;
    color: #0c0083;
    white-space: nowrap;
}
span.vendor-price {
    font-weight: 600;
}
span.vendor-amount {
    font-weight: 600;
}
.item-details-dialog .item-name {
    font-size: 17pt;
}

.item-details-dialog .dialog-header {
    padding: 25px 25px 0px 25px;
}


.item-actions button.btn {
    margin: 5px;
    height: 35px;
}

.item-actions button.btn:first-of-type {
    margin-right: 0;
}

.item-actions button.btn.btn-action.vendor {
    margin-left: 15px;
    background: linear-gradient(45deg, #650808, #8e3d3d);
    color: white;
}

.item-actions button.btn.btn-action.vendor:hover {
    background: linear-gradient(45deg, #650808, #751313);
}

.item-details-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    /*padding: 25px;*/
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
    min-width: 520px;
    max-width: 100%;
    width: fit-content;
    z-index: 10;
}

.vendor .item-details-dialog {
    min-width: 140px;
    text-align: center;
}

.item-details-dialog .item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-details-dialog .item-image img {
    width: 100px;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}


.item-details-dialog-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.item-details-dialog-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

button.item-filter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 0;
    background-color: transparent;
    opacity: 0.5;
}

button.item-filter.active-filter {
    opacity: 1;
}

.inventory-items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.inventory .inventory-item {
    margin: 10px;
    margin-bottom: -15px;
    cursor: pointer;
}

.inventory-item.equipped {
    margin: 10px;
    cursor: pointer;
}

.inventory-item.enchanted .item-image img {
    border: 1px solid #90e19f;
    background-color: #f9fff9;
    box-shadow: 1px 1px 4px hsl(113deg 37% 50% / 38%);
}

.stash .item.name {
    flex-grow: 1;
}

.stash td.item.image {
    width: 75px;
    height: 55px;
}

.stash-item-amount {
    position: relative;
    top: -19px;
    right: 12px;
    background-color: rgba(255,255,255,0.7);
    width: 23px;
    height: 20px;
    color: #353535;
    border: 1px solid #ffffff;
    padding: 0;
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 8pt;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: -25px;
}

.item-amount {
    position: relative;
    top: -15px;
    right: -42px;
    background-color: rgba(255,255,255,0.7);
    width: 23px;
    height: 20px;
    color: #353535;
    border: 1px solid #ffffff;
    padding: 0;
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 8pt;
}

.inventory-item .item-image img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.inventory-item.equipped .item-image img {
}

.marketplace-list th {
    cursor: pointer;
    user-select: none;
}

td span.item-stat {
    justify-content: flex-end;
}

td span.item-stat i {
    margin-right: 5px;
    position: relative;
    top: 4px;
}

/* Raven Buttons */
.raven-btn {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    padding: 11px 25px;
    border: 0;

    background: rgb(255,88,131);
    background: linear-gradient(90deg, rgba(255,88,131,1) 0%, rgba(139,24,255,1) 100%);
    
    box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.1), inset 1px 1px 7px 3px rgba(0,0,0,0.1);
    border-radius: 7px;
    margin: 5px;
    color: white;
    transition: all 0.25s ease;
}


.raven-btn:focus,
.raven-btn:active {
    outline: none;
}

/* default colors */
.raven-btn:hover, .raven-btn:hover {
    background: rgb(145,29,59);
    background: linear-gradient(90deg, rgba(145,29,59,1) 0%, rgba(139,24,255,1) 100%);

    text-decoration: none;
    color: white;
}


.raven-btn:active {
    background: rgb(145,29,59);
    background: linear-gradient(90deg, rgba(145,29,59,1) 0%, rgba(72,0,145,1) 100%);
}

.raven-btn i {
    margin-right: 10px;
}

/* orange */
.raven-btn.orange:active {
    background: #e55844;
}

.raven-btn.orange:hover, .raven-btn.orange:hover {
    background: #ed5e4a;
}

.raven-btn.orange {
    background: #f96854;
}

/* blue */
.raven-btn.blue {
    background: rgb(0,117,255);
    background: linear-gradient(90deg, rgba(0,117,255,1) 0%, rgba(0,88,205,1) 100%);
}

.raven-btn.blue:hover, .raven-btn.blue:hover {
    background: rgb(0,60,130);
    background: linear-gradient(90deg, rgba(0,60,130,1) 0%, rgba(0,88,205,1) 100%);
}

.raven-btn.blue:active {
    background: rgb(0,60,130);
    background: linear-gradient(90deg, rgba(0,60,130,1) 0%, rgba(0,41,94,1) 100%);
}



@media (max-width: 641px) {
    h1 .page-title {
        margin-top: 10px;
    }

    .section {
        padding: 30px 20px 50px 20px !important;
    }

    .dd-content {
        margin-left: -103px;
    }

    .main-nav {
        flex-wrap: wrap;
    }

    .top-section {
        margin-top: -140px !important;
    }

    .patreon-content {
        margin-bottom: 150px;
    }
}

@media (max-width: 660px) {
    .login-message {
        font-weight: 700;
        width: 600px;
        max-width: 100%;
        height: 185px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14pt;
    }
}

/*@media (max-width: 1100px) {
    table.items-list.stash tbody {
        display: flex;
        flex-flow: column;
    }
    table.items-list.stash thead {
        display: none;
    }
    table.items-list.stash .item-row {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
    }

    table.items-list.stash .item.name {
        flex-grow: 1;
    }
    table.items-list.stash .item.item-actions {
        flex-grow: 1;
    }
}*/

@media (max-width: 985px) {

    .admin-controls {
        position: initial;
        left: initial;
        right: initial;
        top: initial;
    }

    .stash-item-category, .stash-item-type, .stash-item-material{
        display:none;
    }

    .patreon-details {
        flex-flow: column;
    }

    .patreon-rewards {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    .patreon-profile {
        margin-right: 0;
        flex-grow: 1;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img.profile-image {
        height: 80px;
        width: 80px;
        border: 0;
    }
}


@media (max-width: 1290px) {
    .top-social {
        display: flex;
        justify-items: start;
        justify-content: center;
        position: absolute;
        top: -45px;
        left: 0;
    }
}


@media (max-width: 640.98px) {
    .front-page .content {
        margin-top: 140px;
    }

    .main .top-row,
    .top-row .nav-link.login,
    .main .top-row .notification-icon {
        display: none;
    }

    .front-page .main .top-row {
        display: flex;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}
