@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Heebo', sans-serif;
    background-color: black;
}


.h1, h1 {
    font-size: 2rem;
}

.h3, h3 {
    font-size: 1.35rem;
}

.nav-link, .top-row a {
    color: white;
    font-size: 10pt;
}



span.notification-count {
    color: white;
    background-color: red;
    border-radius: 12px;
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    font-size: 9pt;
    margin-left: -7px;
    position: relative;
}
td.item.link {
    cursor: pointer;
    text-decoration: underline;
}
.white-section-break {
    background-image: url('/imgs/SectionSplitWhite.png');
    position: relative;
    top: -166px;
    width: 100%;
    height: 166px;
    display: inline-block;
    z-index: 0;
}

.loyalty-reward-list {
    display: flex;
    flex-flow: wrap;
}
.loyalty-users {
    margin-top: 25px;
}

.reward-item-icon img {
    width: 64px;
}

.reward-item {
    display: flex;
    padding: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.reward-item-details {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 10px;
}

.reward-redeem-confirmation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    display: flex;
    flex-flow: column;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.125);
    max-width: 100%;
}

.confirm-body select {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #c6c6c6;
}

.confirm-body h3 {
    font-weight: 300;
    font-size: 14pt;
}

.confirm-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.confirm-header button.close {
    padding: 0 10px;
}

.page-content {
    max-width: 100%;
    margin-top: -166px;
    padding: 0;
}

.nav-link:hover {
    background-color: rgba(0,0,0,0.75);
}

.nav-link.dd:hover .dd-content {
    display: block;
}

.dd-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0,0,0,0.4) 4px 4px 10px;
    margin-left: -16px;
    margin-top: 8px;
}

.nav-link.dd {
    cursor: pointer;
    margin-left: 1.5rem;
}

.top-row a.nav-link.dd-item:hover,
.top-row a.nav-link.dd-item:active,
a.nav-link.dd-item:hover,
a.nav-link.dd-item:active {
    background-color: #eae9e1;
    color: #303030;
}

.top-row a.nav-link.dd-item,
a.nav-link.dd-item {
    margin: 0;
    color: white;
    padding: 10px 25px;
}

.raven-input {
    border: 0;
    background: url(/imgs/InputBackground.png);
    outline: none;
    padding: 30px;
    max-width: 100%;
    width: 324px;
    height: 45px;
    
    box-sizing: border-box;
    font-size: 13pt;
    margin-bottom: 12px;
    color: white;
    background-size: contain;
}

.raven-input::-webkit-input-placeholder,
.raven-input:-moz-placeholder,
.raven-input::placeholder {
    font-weight: 300;
}

.section .raven-input {
    color: white;
}

.input-fields .input-icon {
    position: relative;
    top: 50px;
    left: 380px;
    color: white;
}

.password .raven-input::-webkit-input-placeholder,
.password .raven-input:-moz-placeholder,
.password .raven-input::placeholder {
    color: #d0d0d0 !important;
}

.password input#password::placeholder {
    color: #d0d0d0;
}

.login-message {
    background-image: url('/imgs/LoginMessageBox.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 80px;
    text-align: center;
    font-size: 20pt;
    color: white;
    font-weight: 700;
    width: 790px;
    max-width: 100%;
    height: 185px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -250px;
}

.main {
    overflow-x: auto;
}

.top-section,
.main,
.content {
    max-width: 100%;
}

.content form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

button.raven-btn.blue.login-btn,
button.raven-btn.twitch.twitch-login-btn {
    width: 325px;
    margin-bottom: 45px;
    max-width: 100%;
}

button.raven-btn.twitch.twitch-login-btn {
    margin-top: 40px;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #303030;
}

h2, h3 {
    font-weight: bold;
    color: #303030;
}

.section.patreon h1:after,
h1:after {
    content: "";
    background-image: url('/imgs/LineBreakBlack.png');
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -5px;
}


.section.patreon h1:after {
    background-image: url('/imgs/LineBreakWhite.png');
    height: 25px;
    margin-left: -20px;
}

.section-split {
    background-image: url('/imgs/SectionEndSplitBlack.png');
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    width: 1100px;
    height: 2px;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*.cookies {
    margin-top: 15px;
}*/

footer, .footer {
    width: 100%;
    background-color: black;
    color: #868686;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
}

footer:before {
    content: "";
    background-image: url(/imgs/FooterSplit.png);
    display: inline-block;
    width: 100%;
    height: 200px;
    position: absolute;
    /* top: -200px; */
    z-index: 1;
    left: 0;
    margin-top: -400px;
    /*    margin-top: 10px;
    margin-bottom: 30px;*/
}

.footer-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

footer > div > img, .footer-logo {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 25px;
}

footer h3:before {
    content: "";
    background-image: url('/imgs/WhiteHeaderSplit.png');
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
}

footer h1,
footer h2,
footer h3,
footer p,
footer a,
footer i,
footer span {
    color: white;
}

footer h3 {
    font-weight: 300;
    font-size: 14pt;
    max-width: 100%;
    width: 780px;
    text-align: center;
}

.oi {
    font-family: Icons !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    font-size: 16pt;
    font-weight: 300;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.--coc-header {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
}


.--coc-message {
    width: 100% !important;
    margin-bottom: 25px;
    padding: 5px 10px;
}

@media (max-width: 640.98px) {
    .section {
        padding: 30px 20px 50px 20px !important;
    }

    .dd-content {
        margin-left: -103px;
    }

    .main-nav {
        flex-wrap: wrap;
    }

    .top-section {
        margin-top: -140px !important;
    }

    .patreon-content {
        margin-bottom: 150px;
    }
}

@media (max-width: 660px) {
    .login-message {
        font-weight: 700;
        width: 600px;
        max-width: 100%;
        height: 185px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -250px;
        font-size: 14pt;
    }
}

@media (max-width: 1290px) {
    .top-social {
        display: flex;
        justify-items: start;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
    }
}
