.hero-text h1 {
    color: white;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

h1:after {
    background-image: url(/imgs/LineBreakWhite.png);
    height: 28px;
}


.section h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #303030;
}

.section h1:after {
    content: "";
    background-image: url(/imgs/LineBreakBlack.png);
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: -5px;
}

.section {
    padding: 30px 100px 50px 100px;
}

.top-section {
    background-image: url('/imgs/TopImage.png');
    width: 100vw;
    height: 435px;
    background-position: center;
    background-size: cover;
    margin-top: -95px;
    z-index: 0;
    padding: 150px 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.page-content {
    margin-bottom: 140px;
}

.content {
    margin-top: -95px;
    min-height: 400px;
}

@media screen and (max-width: 800px) {
    .section {
        padding: 20px 30px 50px 20px;
    }
}
