@page "/credits"
@using RavenNest.Blazor.Services.Models
@using Microsoft.AspNetCore.WebUtilities
@using RavenNest.Blazor.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<h1>We wan't to thank everyone for participating in this journey.</h1>
<h3>Unfortunately we can't list everyone. But those whom had shown to be of great help to this game.</h3>

<h3>Past Team Members</h3>
<ul>
  <li>TripTheFirst</li>
</ul>

<h3>Ambassadors</h3>
<ul>
  <li>ABC</li>
</ul>

<h3>Patreons</h3>
<ul>
  <li>ABC</li>
</ul>

<h4>And every Twitch subscriber, follower, player, discord user. We love you all.</h4>

@code {

  protected override void OnInitialized()
  {
  }

}
