@page "/download"
@using RavenNest.Blazor.Services.Models
@using Microsoft.AspNetCore.WebUtilities
@using RavenNest.Blazor.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<h1>Downloading and installing Ravenfall</h1>

@code {

    protected override void OnInitialized()
    {
    }

}
