@page "/how-to-play"
@using RavenNest.Blazor.Services.Models
@using Microsoft.AspNetCore.WebUtilities
@using RavenNest.Blazor.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<h1>How to play</h1>

@code {

    protected override void OnInitialized()
    {
    }

}
