@page "/"
@inject RavenNest.Blazor.Services.AuthService  AuthService

@if (session.UserId == null)
{
  <p>You don't seem to be logged in.</p>
}
else
{
  <p>Welcome back, @session.UserName</p>
}

@code {
  private RavenNest.Sessions.SessionInfo session;

  protected override void OnInitialized()
  {
    session = AuthService.GetSession();
  }
}
