@layout MainLayout
@page "/inspect/{characterId}"
@using RavenNest.Models
@using RavenNest.BusinessLogic.Extended
@inject RavenNest.Blazor.Services.PlayerService PlayerService

  <div class="top-section">
    <div class="hero-text">
    </div>
  </div>

  <div class="white-section-break"></div>
  <div class="page-content">
    <div class="section">
      <h3>Inspect</h3>
      @if (CharacterId == null)
      {
        <p>Oh no. You don't seem to be inspecting a player at all.</p>
      }
      else if (player == null)
      {
        <LoadIndicator></LoadIndicator>
      }
      else
      {
        <PlayerView SelectedPlayer="player"></PlayerView>
      }
    </div>
  </div>
  @code {

    [Parameter]
    public string CharacterId { get; set; }

    private WebsitePlayer player;

    protected override async Task OnInitializedAsync()
    {
      if (CharacterId != null && Guid.TryParse(CharacterId, out var guid))
      {
        player = await PlayerService.GetPlayerAsync(guid);
      }
    }
  }
