h1 {
    color: white;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

h1:after {
    background-image: url(/imgs/LineBreakWhite.png);
    height: 28px;
}

.section {
    padding: 30px 100px 50px 100px;
}

.top-section {
    background-image: url('/imgs/TopImage.jpg');
    width: 100vw;
    height: 435px;
    background-position: center;
    background-size: cover;
    margin-top: -95px;
    z-index: 0;
    padding: 150px 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content {
    margin-top: -95px;
    min-height: 400px;
}

table.items-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 160px;
}

.item-stat {
    margin-right: 5px;
    white-space: nowrap;
}

th, td {
    text-align: right;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
}

.items-list th {
    cursor:pointer;
    user-select:none;
}

table.items-list tr {
    border: none;
}

table.items-list th:nth-of-type(2),
table.items-list td:nth-of-type(2) {
    text-align: left;
}

table.items-list tr:nth-of-type(even) {
    background-color: #f6f6f6;
}

    table.items-list tr:nth-of-type(even).selected,
    .item-row.selected {
        background-color: aquamarine;
    }

table.items-list tr.isMe {
    background-color: #6acc91;
    color: white;
}

.items {
    margin-top: 140px;
    flex-grow: 1;
}

.ravenCoins {
    margin-bottom: 5.5px;
    /* height: 100%; */
    height: 22px;
    margin-right: 1px;
}

@media screen and (max-width: 800px) {
    .section {
        padding: 20px 30px 50px 20px;
    }
}