
.player-character-index {
    margin-left: 5px;
    display: inline-block;
    color: #a2a2a2;
    font-size: 9pt;
}

.skill-selector a {
    padding: 5px 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    transition: all 150ms ease-in-out;
    border-bottom: 1px solid white;
}

    .skill-selector a:hover {
        color: #3498db;
    }

    .skill-selector a::after {
        content: "";
        height: 1px;
        width: 0%;
        border-bottom: 1px solid white;
        position: relative;
        display: block;
        line-height: 2px;
        color: white;
        font-size: 0pt;
        top: 0px;
    }

.skill-selector {
    margin-top: 25px;
}

    .skill-selector a.active {
        background-color: #0e0e0f;
        color: white;
    }

    a.active::after,
    .skill-selector a:hover::after {
        content: "";
        height: 1px;
        width: 0%;
        border-bottom: 1px solid #333;
        position: relative;
        display: block;
        line-height: 2px;
        color: white;
        font-size: 0pt;
        top: 0px;
        animation: selection linear 0.125s;
        animation-fill-mode: forwards;
    }

table.highscore-list {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: right;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
}

table.highscore-list tr {
    border: none;
}

table.highscore-list th:nth-of-type(2),
table.highscore-list td:nth-of-type(2) {
    text-align: left;
}

table.highscore-list tr:nth-of-type(even) {
    background-color: #f6f6f6;
}

table.highscore-list tr.isMe {
    background-color: #6acc91;
    color: white;
}

/*
    Loading CSS
*/

.highscore {
    margin-top: 140px;
    flex-grow: 1;
}
