.top-section {
    height: 335px;
}

table.items-list {
    margin-bottom: 153px;
}

.item-stat {
    margin-right: 5px;
    white-space: nowrap;
}

th, td {
    text-align: right;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
}

.items-list th {
    cursor:pointer;
    user-select:none;
}

table.items-list tr {
    border: none;
}

table.items-list th:nth-of-type(2),
table.items-list td:nth-of-type(2) {
    text-align: left;
}

table.items-list tr:nth-of-type(even) {
    background-color: #f6f6f6;
}

    table.items-list tr:nth-of-type(even).selected,
    .item-row.selected {
        background-color: aquamarine;
    }

table.items-list tr.isMe {
    background-color: #6acc91;
    color: white;
}

.items {
    margin-top: 140px;
    flex-grow: 1;
}

.ravenCoins {
    margin-bottom: 5.5px;
    /* height: 100%; */
    height: 22px;
    margin-right: 1px;
}

@media screen and (max-width: 1600px) {

    .items-list th {
        font-size: 10pt;
    }


    .section {
        padding: 20px 30px 50px 20px;
    }
}

@media screen and (max-width: 1470px) {

    .m-item-material {
        display: none;
    }
    .m-item-category {
        display: none;
    }
}    

@media screen and (max-width: 1250px) {
    .m-item-type {
        display:none;
    }
}

@media screen and (max-width: 1080px) {
    .m-item-expires {
        display: none;
    }

    .m-item-uses {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .m-item-enchantments {
        display: none;
    }
}

@media screen and (max-width: 730px) {

    .items-list th {
        font-size: 10pt;
    }

    .items-list td {
        font-size: 10pt;
    }


    .m-item-description {
        display: none;
    }

    .m-item-uses {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .m-item-level {
        display: none;
    }

    .m-item-enchantments {
        display: none;
    }

}

@media screen and (max-width: 520px) {
    .m-item-stats {
        display: none;
    }

}


@media screen and (max-width: 450px) {
    .m-item-image img {
        width: 24px !important;
    }

    .section > p {
        text-align: center;
    }

    th {
        font-size: 10pt;
    }

    .ravenCoins {
        display: none;
    }

    .td {
        font-size: 12px;
    }

    .m-item-stats {
        display: none;
    }

    .m-item-level {
        display: none;
    }

    .m-item-category {
        display: none;
    }

    .m-item-type {
        display: none;
    }

    .m-item-material {
        display: none;
    }

    m-item-stats{
        display: none;
    }

    .m-item-enchantments {
        display: none;
    }

    .m-item-uses {
        display: none;
    }

    .m-item-price {
        display: none;
    }

    .m-item-expires {
        display: none;
    }
}