@page "/login"
@page "/login/redirect/{*redirectUrl}"
@page "/login/twitch/{*redirectUrl}"
@page "/login/kick/{*redirectUrl}"
@using RavenNest.Blazor.Services.Models
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject IJSRuntime JS

<div class="top-section login">

    @if (IsKickLogin)
    {
        if (tokenGenerationComplete)
        {
            <p class="login-message">You may close this window now. </p>
        }
        else
        {
            <p class="login-message">Logging in using Kick... </p>
        }
    }
    else if (IsTwitchLogin)
    {
        if (tokenGenerationComplete)
        {
            <p class="login-message">You may close this window now. </p>
        }
        else
        {
            <p class="login-message">Logging in using Twitch... </p>
        }
    }
    else if (IsLoggingIn)
    {
        if (loginFailed)
        {
            <p class="invalid">Twitch returned an error: @loginFailedError</p>
        }
        else
        {
            <p class="login-message">Logging in... Hold on to your horses!</p>
        }
    }
    else
    {
        if (session.UserName == null)
        {
            <h1 class="login-header">LOGIN TO YOUR ACCOUNT</h1>
            <h4 class="login-slogan">Get access to all the features<br />Ravenfall has to offer.</h4>

            <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="input-fields">
                    <InputText class="raven-input" placeholder="USERNAME" id="username" @bind-Value="loginModel.Username" />
                    <InputText class="raven-input" type="password" placeholder="PASSWORD" id="password" @bind-Value="loginModel.Password" />
                </div>

                <ValidationSummary />
                <RavenButton CssClass="blue login-btn" Type="submit"><i class="fas fa-key"></i> Login</RavenButton>
            </EditForm>

            <RavenButton CssClass="twitch twitch-login-btn" OnClick="LoginWithTwitch"><i class="fab fa-twitch"></i>&nbsp;Signup/signin with Twitch</RavenButton>

            @* <RavenButton CssClass="kick kick-login-btn" OnClick="LoginWithKick"><i class="fab fa-kick"></i>&nbsp;Signup/signin with KICK</RavenButton> *@
        }
        else
        {
            <p>Welcome back, @session.UserName</p>
        }

        if (loginFailed)
        {
            <p class="invalid">Whops. Wrong username or password.</p>
        }
    }
</div>

@code {
    [Parameter]
    public string RedirectUrl { get; set; }

    private bool isAfterRender;
    private string message;
    private UserLoginModel loginModel = new UserLoginModel();
    private RavenNest.Models.SessionInfo session;
    private bool loginFailed = false;
    private string loginFailedError = "";
    private bool userInitiatedLogin = false;
    private bool twitchLoginInitiated = false;
    private bool kickLoginInitiated = false;
    private bool IsAuthenticated => session != null && session.UserName != null;
    private bool IsLoggingIn => !IsAuthenticated && (userInitiatedLogin || HasQueryParams());

    private bool IsKickLogin => kickLoginInitiated || NavigationManager.Uri.Contains("login/kick", StringComparison.OrdinalIgnoreCase);
    private bool IsTwitchLogin => twitchLoginInitiated || NavigationManager.Uri.Contains("login/twitch", StringComparison.OrdinalIgnoreCase);
    private bool tokenGenerationComplete = false;

    protected override async Task OnInitializedAsync()
    {
        isAfterRender = false;
        await HandleOAuthLoginAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        isAfterRender = true;
        if (!await UpdateGameClientLoginStateAsync())
        {
            await NavigateToLastPageOrHomeIfAuthenticated();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private bool HasQueryParams()
    {
        string fragment = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Fragment;
        if (!string.IsNullOrEmpty(fragment))
            return fragment.Substring(0, 1).Contains("?") || fragment.Substring(0, 1).Contains("#");

        return false;
    }

    private async Task<bool> UpdateGameClientLoginStateAsync()
    {
        try
        {
            if (await JS.InvokeAsync<bool>("updateGameClientLoginStateAsync", new object[] { }))
            {
                await CloseWindow();
                return true;
            }

        }
        catch { }

        return false;
    }

    private async Task CloseWindow()
    {
        try
        {
            await JS.InvokeVoidAsync("window.close");
        }
        catch { }
        try
        {
            tokenGenerationComplete = true;
            this.StateHasChanged();
        }
        catch { }
    }

    private async Task HandleOAuthLoginAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryString = uri.Fragment;
        if (string.IsNullOrEmpty(queryString))
        {
            queryString = uri.Query;
        }
        bool pubsub = false;

        loginFailed = false;
        loginFailedError = "";

        if (string.IsNullOrEmpty(queryString))
        {
            session = AuthService.GetSession();
            userInitiatedLogin = false;
            return;
        }

        if (queryString.StartsWith("?") || queryString.StartsWith("#"))
        {
            queryString = queryString.Substring(1);
        }

        var parsedQuery = System.Web.HttpUtility.ParseQueryString(queryString);

        userInitiatedLogin = true;
        var state = parsedQuery.Get("state");

        var error = parsedQuery.Get("error");
        var error_description = parsedQuery.Get("error_description");


        // check if we already have a session
        session = AuthService.GetSession();

        if (!string.IsNullOrEmpty(error))
        {
            loginFailed = true;
            loginFailedError = error_description;
            return;
        }

        var code_verifier = "";
        var code_challenge = "";
        var scope = "";

        if (!string.IsNullOrEmpty(state))
        {

            var objects = AuthService.GetDecodedObjectFromState(state, uri.ToString());
            foreach (var parameter in objects)
            {
                switch (parameter.ParametersName)
                {
                    case "pubsub":
                        pubsub = parameter.ParametersValue.Equals("true");
                        break;
                    case "redirect":
                        RedirectUrl = parameter.ParametersValue;
                        break;
                    case "scope":
                        scope = parameter.ParametersValue;
                        break;
                    case "code_verifier":
                        code_verifier = parameter.ParametersValue;
                        break;
                    case "code_challenge":
                        code_challenge = parameter.ParametersValue;
                        break;
                    case "state_token":
                        break;
                }
            }
        }

        if (pubsub)
        {
            var token = parsedQuery.Get("access_token");
            await AuthService.GrantPubSubAccessAsync(token);
            await CloseWindow();
            return;
        }

        if (session == null || !session.Authenticated)
        {
            if (uri.AbsolutePath.Contains("kick", StringComparison.OrdinalIgnoreCase))
            {
                var code = parsedQuery.Get("code");
                session = await AuthService.KickLoginAsync(code, scope, code_verifier, code_challenge);
            }
            else
            {
                var token = parsedQuery.Get("access_token");
                session = await AuthService.TwitchLoginAsync(token);
            }

            if (session == null)
            {
                loginFailed = true;
                return;
            }
        }

        userInitiatedLogin = false;
        loginFailed = !IsAuthenticated;
        await NavigateToLastPageOrHomeIfAuthenticated();
    }

    private async void HandleValidSubmit()
    {
        userInitiatedLogin = true;
        session = await AuthService.LoginAsync(loginModel);
        if (string.IsNullOrEmpty(session.TwitchUserId))
        {
            userInitiatedLogin = false;
            loginFailed = true;
            return;
        }
        NavigateToLastPageOrHomeIfAuthenticated();
    }

    private async Task LoginWithKick()
    {
        userInitiatedLogin = true;
        kickLoginInitiated = true;
        var url = AuthService.GetKickLoginUrl(RedirectUrl ?? "");
        if (!string.IsNullOrEmpty(url))
        {
            await JS.InvokeVoidAsync("window.navigateTo", url);
            // NavigationManager.NavigateTo(url, true);
        }
    }

    private async Task LoginWithTwitch()
    {
        userInitiatedLogin = true;
        twitchLoginInitiated = true;
        var url = AuthService.GetTwitchLoginUrl(RedirectUrl ?? "");
        if (!string.IsNullOrEmpty(url))
        {
            await JS.InvokeVoidAsync("window.navigateTo", url);
            // NavigationManager.NavigateTo(url, true);
        }
    }

    private async Task NavigateToLastPageOrHomeIfAuthenticated()
    {
        if (!IsAuthenticated || !isAfterRender)
            return;

        try
        {
            loginFailed = false;
            userInitiatedLogin = false;
            MainLayout.Instance.UpdateSession();
            if (!string.IsNullOrEmpty(RedirectUrl))
            {
                await JS.InvokeVoidAsync("window.navigateTo", RedirectUrl);
            }
            else if (session.UserNameChanged)
            {
                await JS.InvokeVoidAsync("window.navigateTo", "/username-changed");
            }
            else if (session.RequiresPasswordChange)
            {
                // NavigationManager.NavigateTo("/password");
                await JS.InvokeVoidAsync("window.navigateTo", "/password");
            }
            else
            {
                NavigationManager.NavigateTo("", true); // "/"
            }
        }
        catch { }
    }
}
