.expired {
    color: red;
    font-size: 9pt;
}

.top-section {
    height: 335px;
}

.item-stat {
    margin-right: 5px;
    white-space: nowrap;
}

table.marketplace-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 160px;
}

th, td {
    text-align: right;
    padding: 10px 15px;
    border: 1px solid #eeeeee;
}

table.marketplace-list tr {
    border: none;
}

table.marketplace-list th:nth-of-type(2),
table.marketplace-list td:nth-of-type(2) {
    text-align: left;
}

table.marketplace-list tr:nth-of-type(even) {
    background-color: #f6f6f6;
}

table.marketplace-list tr.isMe {
    background-color: #6acc91;
    color: white;
}

.marketplace {
    margin-top: 140px;
    flex-grow: 1;
}

.ravenCoins {
    margin-bottom: -1.5px;
    height: 100%;
    margin-right: 1px;
}

.ravenCoins {
    margin-bottom: 5.5px;
    height: 22px;
    margin-right: 1px;
}

@media screen and (max-width: 1100px) {
    .m-item-expires {
        display:none;
    }
    .m-item-category {
        display: none;
    }
    .m-item-material {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .section {
        padding: 20px 30px 50px 20px;
    }
}

@media screen and (max-width: 730px) {
   .m-item-type {
       display: none;
   }
}

@media screen and (max-width: 600px) {
    .m-item-level {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .m-item-stats {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    .m-item-image img {
        width: 24px !important;
    }

    .section > p {
        text-align: center;
    }

    th {
        font-size: 10pt;
    }

    .ravenCoins {
        display: none;
    }

    .marketplace {
        font-size: 12px;
    }

    .m-item-stats {
        display: none;
    }

    .m-item-level {
        display: none;
    }

    .m-item-category {
        display: none;
    }

    .m-item-type {
        display: none;
    }

    .m-item-material {
        display: none;
    }

    .m-item-amount {
    }

    .m-item-price {
    }

    .m-item-expires {
        display: none;
    }
}
