@page "/team"
@using RavenNest.Blazor.Services.Models
@using Microsoft.AspNetCore.WebUtilities
@using RavenNest.Blazor.Services
@inject NavigationManager NavigationManager
@inject AuthService AuthService

<h1>About The Team</h1>

<ul>
  <li>Zerratar</li>
  <li>Hestia</li>
  <li>Ascht</li>
  <li>AbbyCottontail</li>
</ul>

@code {

  protected override void OnInitialized()
  {
  }

}
