.dialog-header {
    display: flex;
    justify-content: space-between;
}
.item-soulbound {
    color: rgba(0,0,0,0.5);
    font-style: italic;
    font-size: 10pt;
}
.enchantment .item-stat-name, .enchantment .item-stat-value {
    color: #27ae60;
}
span.item-stat-enchantment {
    margin-left: 5px;
    color: #27ae60;
}
.item-enchantment-header {
    font-weight: bold;
    margin-top: 10px;
    font-size: 10pt;
    color: #27ae60;
}

.item-stat, .item-requirement {
    display: flex;
    justify-content: space-between;
}

.item-stat-value {
    font-weight: bold;
}

.item-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    background-color: #f4f4f4;
    padding: 15px;
}

.item-actions button.btn {
    font-weight: 300;
    font-size: 10pt;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

button.btn.btn-action {
    background-color: white;
    cursor: pointer;
}

button.btn.btn-action:hover,
button.btn.btn-action:active {
    background-color: #e0f1ff;
}


button.btn.btn-secondary {
    margin-left: 10px;
}

.clan-member-invite {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    width: 620px;
    max-width: 100%;
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-flow: column;
    top: 50%;
}

.clan-member-invite-controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 15px;
}

.clan-member-invite-header {
    display: flex;
    justify-content: space-between;
}

.clan-member-invite-header h2 {
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
    width: 100%;
    position: relative;
    top: 5px;
    margin-bottom: 25px;
}

.clan-member-invite-header button.close {
    margin-top: -20px;
}

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}
