

.training-skill {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f6f6f6;
    border: 2px solid #ebebeb;
    text-align: center;
}

.current-health {
}


.skill-progress {
    height: 23px;
    text-align: right;
    min-width: 90px;
    text-align: center;
    background-color: #f4f4f4;
}

.skill-value {
    width: 75px;
    text-align: right;
}

.skill-progress-value {
    height: 23px;
    position: absolute;
    background-color: #81a1f829;
}

.skill-modify-modal {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    width: 620px;
    max-width: 100%;
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-flow: column;
    top: 50%;
}

.skill-modify-modal-controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 0.3em;
}

.skill-modify-modal-header {
    display: flex;
    justify-content: space-between;
}

    .skill-modify-modal-header h2 {
        font-weight: 300;
        font-size: 18pt;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5px;
        margin-bottom: 25px;
    }

    .skill-modify-modal-header button.close {
        margin-top: -20px;
    }

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}

button.btn-icon {
    background-color: transparent;
    border: 0;
    color: #333;
    margin-left: 10px;
}


.character-skill-row.active button.btn-icon {
    color: white;
}

button.btn-icon:active,
button.btn-icon:focus {
    outline: 0;
    background-color: rgba(0,0,0,0.15);
}

.input-label {
    margin-bottom: 5px;
}

.char-row {
    BOX-SIZING: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    content: "";
    clear: both;
    max-height: 47px;
    min-height: 47px;
    border-right: 1px solid #f3f3f3;
}

.character-skill-row {
    border-bottom: 1px solid #f3f3f3;
    
}

    .character-skill-row.active {
        color: white;
        background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

        .character-skill-row.active .skill-progress {
            background-color: rgba(244,244,244, 0.05);
        }


    .character-skill-row:nth-of-type(2n+2) {
        background-color: #fafafa;
    }

@media screen and (max-width: 400px) {
    .user-col {
        width: 100%;
    }
}
