/*  Name/Character Header Styling  */

.character-index {
    font-size: 14pt;
    font-weight: 300;
}

.character-level {
    font-size: 18pt;
}

span.character-name {
    font-size: 18pt;
    font-weight: 500;
    padding-right: 0px;
}

span.character-index:after {
    content: " ";
    padding-left: 0px;
}

span.character-level:before {
    content: "Level: ";
}

span.character-level:after {
    content: "\A";
}

.last-updated {
    text-align: center;
    font-size: 9pt;
}

/*  Buttons Styling  */
button {
    border-radius: 8px;
}

.character-control button.btn-icon {
    background-color: #141414;
    color: white;
    max-height: 30px;
}

i.fa {
    color: #333;
}

button.btn-icon {
    background-color: transparent;
    border: 0;
    margin-left: 10px;
}

.modify-skill button.btn-icon {
    min-width: 20px;
    max-width: 30px;
    padding: 0px;
    margin: 0px;
}

.modify-skill {
    min-width: 1px;
    padding: 0px;
    margin: 0px;
}

button.btn-icon:active,
button.btn-icon:focus {
    outline: 0;
    background-color: rgba(0,0,0,0.15);
}

/* Skill modal/window Styling */

.skill-modify-modal {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    width: 620px;
    max-width: 100%;
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-flow: column;
    top: 50%;
}

.skill-modify-modal-controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 0.3em;
}

.skill-modify-modal-header {
    display: flex;
    justify-content: space-between;
}

    .skill-modify-modal-header h2 {
        font-weight: 300;
        font-size: 18pt;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5px;
        margin-bottom: 25px;
    }

    .skill-modify-modal-header button.close {
        margin-top: -20px;
    }

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}

.input-label {
    margin-bottom: 5px;
}

/* Skills Styling */

.training-skill {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f6f6f6;
    border: 2px solid #ebebeb;
    text-align: center;
}

.current-health {
}

.stats-progress {
    height: 23px;
    text-align: right;
    min-width: 100px;
    text-align: center;
}

.stats-value {
    min-width: 90px;
    max-width: 120px;
    text-align: right;
}

.stats-progress-value {
    height: 23px;
    position: absolute;
    background-color: #81a1f849;
}

.stats-progress-percent {
    height: 23px;
    min-width: 100px;
    text-align: center;
    background-color: #f4f4f4;
}

.stats-combat-level {
    font-size: 14pt;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
}

.character-stats-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

/* Active Skill Styling*/

.character-skill-cell.active {
    color: white;
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.stats-progress-percent.active {
    background-color: rgba(0,0,0, 0.05);
}

..stats-progress-value.active {
    background-color: rgba(0,0,0, 0.05);
}

.modify-skill.active i.fa {
    color: #ddd;
}

/*  Characters Table Styling  */

th, td {
    padding: 0.25rem;
    text-align: center;
    vertical-align: top;
    /*border: 1px solid #ccc;*/
}


table.characters-table {
    width: 100%;
    min-width: 820px;
    table-layout: fixed;
    border-collapse: collapse;
}

th.blank {
    width: 147px;
}

th.character-header {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #a4a4a4;
    padding-bottom: 8px;
}

    th.character-header:first-child {
        border-right-width: 1px;
        border-right-style: dotted;
        border-right-color: #a4a4a4;
    }

    th.character-header:last-child {
        border-left-width: 1px;
        border-left-style: dotted;
        border-left-color: #a4a4a4;
    }

.characters-table tr:nth-child(even) {
    background-color: #e4e4e4;
}

.characters-table tr:not(:first-child) {
    border-bottom: 1px solid #a4a4a4;
}

.characters-table td {
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #a4a4a4;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #a4a4a4;
    width: auto;
    min-width: 250px;
}

th.character-skill-header-cell {
    text-transform: uppercase;
    text-align: right;
}

/* Inventory Styling */

.player-inventory {
    /* padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;*/
}

.inventory-items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.inventory-item {
    width: 65px;
    height: 65px;
    padding: 0px;
    margin: 5px;
    position: relative;
}

.item-slot {
    width: 65px;
    height: 65px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

    .item-slot.empty {
        background-color: rgba(114, 114, 114, 0.92);
    }

    .item-slot.item,  .item-slot.equipped
    {
        background-color: whitesmoke;

    }

.equipped {
    position:absolute;
    top:0px;
    left: 0px;
}
.item, .equipped {
    cursor: grab;
    z-index: 4;
}

.empty {
    cursor: auto;
    z-index: 2;
}

.item-image {
    width: 65px;
    height: 65px;
    max-width: 100%;
    padding: 0px;
}

    .item-image img {
        width: 65px;
        height: 65px;
        padding: 0px;
    }

.item-amount {
    position: relative;
    top: -22px;
    right: -40px;
    border-radius: 8px;
    background-color: rgb(246 223 255 / 80%);
    width: 25px;
    color: #353535;
    border: 1px solid #ffffff;
    padding: 0;
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 8pt;
}

.character-inventory-equipped-header-row {
    display: none;
}

/* Add Items Styling*/
button.btn.btn-secondary {
    margin-left: 10px;
}

.add-item-window {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    width: 620px;
    max-width: 100%;
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-flow: column;
    top: 50%;
}

.add-item-window-header {
    display: flex;
    justify-content: space-between;
}

    .add-item-window-header h2 {
        font-weight: 300;
        font-size: 18pt;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5px;
        margin-bottom: 25px;
    }

    .add-item-window-header button.close {
        margin-top: -20px;
    }

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}

/* Reponsive Design */
@media screen and (max-width: 880px) {
    th.blank {
        width: 30px;
    }

    table {
        font-size: .8em;
    }

        table.characters-table {
            min-width: 634px;
        }

    .stats-value {
        min-width: 70px;
    }
}

/* Change table formatting */
@media screen and (max-width: 660px) {
    .stats-progress-percent.active {
        color: white;
        background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    }

    .stats-progress-value.active {
        background-color: rgb(147, 247, 254, 0.50)
    }

    .character-skill-cell.active {
        background-image: unset;
        color: black;
    }

    .stats-value {
        display: table-cell;
        width: 100px;
        text-align: left;
        padding-left: 3px;
        float: none;
    }

    .stats-progress {
        height: 23px;
        text-align: right;
        display: table-cell;
        float: none;
    }

    .skill-level::before {
        content: "Lv:";
    }

    .character-stats-row {
        display: table-cell;
    }

    button.btn-icon {
        border: 0;
        margin: 0px 0px 0px 10px;
        padding: 1px 1px 1px 1px;
    }

    i.fa {
        color: #333;
    }

    .modify-skill {
        width: 20px;
        display: table-cell;
        float: none;
        text-align: right;
    }

        .modify-skill.active i.fa {
            color: #333;
        }

    .character-name {
        display: none;
    }

    table.characters-table {
        max-width: 350px;
        min-width: 300px;
    }

    table {
        border: 0;
    }

    .characters-table td {
        padding: 1px;
        border-left: none;
        border-right: none;
    }

    .characters-table th.character-header {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
    }

        table td::before {
            content: attr(character-row);
            display: table-cell;
            min-width: 120px;
            max-width: 120px;
            padding-right: 6px;
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }

    .characters-table tr:not(:first-child) {
        border-bottom: 1px solid #ddd;
    }

    .characters-table tr:not(:first-child) {
        border-top: 1px dotted #ddd;
        border-left: 1px dotted #ddd;
        border-right: 1px dotted #ddd;
        border-bottom: 1px solid #ddd;
    }
}

/* Draggable Styling */

.draggable {
    touch-action: none;
    user-select: none;
}
