
.clan-member-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.clan-member-list-header button.btn.btn-success {    
    height: 38px;
}

button.btn.btn-secondary {
    margin-left: 10px;
}

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}
