.characters-inventory {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}
.character-inventory {
    flex-grow: 1;
    flex-shrink: 0;

}

.character-inventory, .user-stash {
    padding: 0px;
    margin: 5px;
    border: 4px solid rgba(78, 78, 78, 0.64);
    border-radius: 20px;
}