@using RavenNest.BusinessLogic.Extended
<div class="user-inventory">
    <InventoryManagerComponent ItemInstances="ItemInstances" User="SelectedUser" OnItemUpdate="HandleItemUpdate">
        <InventoryStorageComponent StorageLocation="Location.Bank" OwnerId="SelectedUser.Id" />
        <div class="character-inventory">
            @foreach (var character in SelectedUser.Characters)
            {
                <InventoryStorageComponent StorageLocation="Location.Equipment" OwnerId="character.Id" />
                <InventoryStorageComponent StorageLocation="Location.CharactersBag" OwnerId="character.Id" />
            }
        </div>
    </InventoryManagerComponent>
</div>