@using RavenNest.BusinessLogic.Extended
<div class="inventoryStorage @(StorageLocation.ToString())-@(OwnerId)">
    <span>
        @(CharactersBag != null ? GetIdentifier(CharactersBag) : "Stash")
    </span>

    <div class="container-of-items @dropClass"
         ondragover="event.preventDefault();"
         ondragstart="event.dataTransfer.setData('', event.target.id);"
         @ondrop="HandleDrop"
         @ondragenter="HandleDragEnter"
         @ondragleave="HandleDragLeave">

        @if (StorageLocation.Equals(Location.Bank))
        {
            @foreach (BusinessLogic.Providers.EquipmentSlot slot in Enum.GetValues(typeof(BusinessLogic.Providers.EquipmentSlot)))
            {
                @if (!slot.Equals(BusinessLogic.Providers.EquipmentSlot.None))
                {
                    var itemInstance = GetItemInstance(slot);
                    <InventoryItemComponent Item="itemInstance" Slot="slot" />
                }
            }
        }
        else
        {
            @foreach (var itemInstance in ItemInstances)
            {
                <InventoryItemComponent Item="itemInstance" />
            }
        }
    </div>


</div>