<div class="item draggable" data-item="@Item.Id" draggable="true" title="@Item.Name" @ondragstart=@(() => HandleDragStart(Item))>
    <div class="image-holder">
        <img class="item-image" src="@ItemImageSrc" />
    </div>
    @if (!Item.Equipped)
    {
        <div class="item-amount@(Item.Amount < 2 ? " invisible" : "")">
            @ItemAmountFormatted
        </div>
    }
</div>