.item-stat, item-enchantment, item-requirement {
    display: flex;
    justify-content: space-between;
}

.item-requirement {
    font-size: 10pt;
}

.item-name {
    font-size: 15pt;
}

.item-type {
    font-size: 10pt;
    margin-bottom: 10px;
}
.item-details-content {
    padding: 25px 25px 0px 25px;
    margin:0px;
}
.item-wrapper-hover {
    position: relative;
    display: inline-block;
}

.item-details-hover {
    visibility: hidden;
    position: absolute;
    min-width: 300px;
    max-width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: honeydew;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
    max-width: 100%;
    border-radius: 20px;
    z-index:4;
}
item-details-hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    padding:0px;
}
.item-wrapper-hover:hover .item-details-hover {
    visibility: visible;
}

.item-details-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 0px 25px;
}

.item-name {
    font-size: 17pt;
}

.large-item-image {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

/* ultima */
.item-name[data-tier='pet'] {
    COLOR: #ffae00;
}
/* phantom */
.item-name[data-tier='10'] {
    COLOR: #e34ff1;
}
/* ultima */
.item-name[data-tier='9'] {
    COLOR: #e34ff1;
}

/* dragon */
.item-name[data-tier='8'] {
    COLOR: #f14f4f;
}

/* rune */
.item-name[data-tier='7'] {
    COLOR: #4ff1c7;
}

/* adamantite */
.item-name[data-tier='6'] {
    color: #70ac5e;
}

/* mithril */
.item-name[data-tier='5'] {
    color: #5a85ff;
}

/* black */
.item-name[data-tier='4'] {
    color: #9191cd;
}
