@inject RavenNest.Blazor.Services.ClanService ClanService
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@if (session != null && session.UserName != null)
{
  <div class="webgl-content">
        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
            <div id="unity-loading-bar">
                <div id="unity-logo"></div>
                <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                </div>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
                <div id="unity-webgl-logo"></div>
                <div id="unity-fullscreen-button"></div>
                <div id="unity-build-title">Ravenfall Character Customization</div>
            </div>
        </div>
  </div>
}