

.stats-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 25px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 100%;
    BOX-SIZING: border-box;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #f3f3f3;
}

.current-health {

}

.stats-row.active {
    color: white;
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.stats-row.active .stats-progress {
    background-color: rgba(244,244,244, 0.05);
}

.stats-combat-level {
    font-size: 14pt;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
}

.stats-row:nth-of-type(2n+2) {
    background-color: #fafafa;
}

.stats-label {
    width: 190px;
    text-align: left;
    text-transform: uppercase;
}

.stats-progress {
    text-align: right;
    min-width: 120px;
    text-align: center;
    background-color: #f4f4f4;
}

.stats-value {
    width: 190px;
    text-align: right;
}

.stats-progress-value {
    height: 23px;
    position: absolute;
    background-color: #81a1f829;
}
