.player-inventory {
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.inventory-items {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.inventory .inventory-item {
    margin: 10px;
    margin-bottom: -15px;
}
.inventory-item.equipped {
    margin: 10px;
}

.item-amount {
    position: relative;
    top: -28px;
    right: -46px;
    background-color: rgba(255,255,255,0.7);
    width: 30px;
    color: #353535;
    border: 1px solid #ffffff;
    padding: 0;
    line-height: 2;
    text-align: center;
    font-weight: 500;
    font-size: 10pt;
}

.inventory-item .item-image img {
    width: 75px;
    height: 75px;
    max-width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.inventory-item.equipped .item-image img {
}
