

.skill-modify-modal {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    left: 50%;
    width: 620px;
    max-width: 100%;
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-flow: column;
    top: 50%;
}

.skill-modify-modal-controls {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 0.3em;
}

.skill-modify-modal-header {
    display: flex;
    justify-content: space-between;
}

.skill-modify-modal-header h2 {
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
    width: 100%;
    position: relative;
    top: 5px;
    margin-bottom: 25px;
}

.skill-modify-modal-header button.close {
    margin-top: -20px;
}

input.blazored-typeahead__input {
    border-radius: 0;
}

.blazored-typeahead {
    border-radius: 0;
    margin-top: 15px;
}

.stats-row.active button.btn-icon {
    color: white;
}

.input-label {
    margin-bottom: 5px;
}

.last-updated {
    text-align: center;
    font-size: 9pt;
}


@media (max-width: 500px) {
    .stats-row {
        font-size: 10pt;
    }
}