@layout AdminLayout
@page "/admin/display-ravenbot-log/{filename}"
@using System.ComponentModel.DataAnnotations
@using RavenNest.BusinessLogic.Data
@using RavenNest.DataModels
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.ServerService ServerService


@if (isAdmin)
{
    if (logData == null)
    {
        <p>Loading log</p>
        <LoadIndicator></LoadIndicator>
    }

    <h1>Ravenbot Log: @Filename</h1>
    <table class=items-list>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Log Level</th>
          <th>Services</th>
          <th>Message</th>
          <th>Args</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var logLine in logData)
            {
                <DisplayRavenbotLogLine RavenbotLogLine="logLine"></DisplayRavenbotLogLine>
            }
        </tbody>
    </table>
}

@code {
    private RavenNest.Sessions.SessionInfo session;
    private IReadOnlyList<RavenNest.Blazor.Services.RavenbotLogLine> logData;
    private bool isAdmin;
    [Parameter]
    public string Filename { get; set; }

    protected override async Task OnInitializedAsync()
    {
        session = AuthService.GetSession();
        isAdmin = session != null && session.Administrator;
        logData = await ServerService.GetLogDataAsync(Filename);
    }
}