@layout AdminLayout
@page "/admin"
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.UserService UserService

@using System.Linq;
@using ChartJs.Blazor.LineChart;
@using ChartJs.Blazor.Common.Axes;
@using ChartJs.Blazor;

@if (isAdmin)
{
  <h1>Overview</h1>
  <div class="skill-selector">
    @for (var i = 0; i < TimeFrames.Length; ++i)
    {
      var tf = TimeFrames[i];
      var name = GetName(tf);
      <button @onclick="(() => SelectTimeFrameAsync(tf))" class="btn @(newUserTimeframe == tf ? "active" : "")">@name</button>
    }
  </div>
  if (newUserConfig != null)
  {
    <Chart Config="newUserConfig"></Chart>
  }

  if (commonHoursNewUsers != null)
  {
    <Chart Config="commonHoursNewUsers"></Chart>
  }
}