@layout DarkAdminDashboardLayout
@page "/admin/display-ravenbot-log/{filename}"
@using System.ComponentModel.DataAnnotations
@using RavenNest.BusinessLogic.Data
@using RavenNest.DataModels
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.ServerService ServerService


@if (isAdmin)
{
    if (entries == null)
    {
        <p>Loading log</p>
        <LoadIndicator></LoadIndicator>
    }
    else if (entries.Count == 0)
    {
        <p>No logs found</p>
    }
    else
    {
        <h1>Ravenbot Log: @Filename</h1>
        <table class=loglines-list>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Log Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in entries)
                {
                    <RavenbotLogDisplayLine DataContext="entry"></RavenbotLogDisplayLine>
                }
            </tbody>
        </table>
    }
}

@code {
    private RavenNest.Sessions.SessionInfo session;
    private IReadOnlyList<RavenNest.Blazor.Services.LogEntry> entries;

    private bool isAdmin;
    [Parameter]
    public string Filename { get; set; }

    protected override async Task OnInitializedAsync()
    {
        session = AuthService.GetSession();
        isAdmin = session != null && session.Administrator;
        entries = await ServerService.GetRavenbotLogEntriesAsync(Filename);
    }
}