.control-tabs {
    display: inline-flex;
}

.control-floating {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    margin-bottom: 25px;
}

button.tab-link {
    border: 0;
    padding: 10px;
    outline: 0;
    display: flex;
    margin: 3px;
    opacity:40%;
    transition: 0.4s;
}

    button.tab-link.active {
        color: white;
        background-color: black;
    }

    button.tab-link.banned {
        color: white;
        background-color: darkred;
    }
    button.tab-link:hover {
        border: 1px, solid, black;
    }
.control-floating:hover .tab-link{
    opacity:100%;
}
