@layout AdminLayout
@page "/admin/user/{id}/{view:int?}"

@if (SelectedUser == null)
{
    <LoadIndicator></LoadIndicator>
}
else
{
    <AdminUserView SelectedUser="SelectedUser" ViewState="ViewState"></AdminUserView>
    @switch (ViewState)
    {
        case CharacterViewState.Skills:
            <AdminCharactersView SelectedUser="SelectedUser" CanManage="true"></AdminCharactersView>
            break;
        case CharacterViewState.Inventory:
            <InventoryView SelectedUser="SelectedUser" CanManage="true"></InventoryView>
            break;
        case CharacterViewState.Clan:
            break;
    }

}
<div class="control-floating">
    <div class="control-tabs">
        @if (SelectedUser.Status >= 1)
        {
            <button class="tab-link banned" @onclick="(()=> UnbanUser())">Unban</button>
        }
        else
        {
            <button class="tab-link" @onclick="(()=> BanUser())">Ban</button>
        }
        <button class="tab-link @SelectedClassStyling(CharacterViewState.Skills)" @onclick="ShowSkills">Skills</button>
        <button class="tab-link @SelectedClassStyling(CharacterViewState.Inventory)" @onclick="ShowInventory">Inventory</button>
        <button class="tab-link @SelectedClassStyling(CharacterViewState.Clan)" @onclick="ShowClan">Clan</button>
    </div>
</div>