$padding: 3rem;

#sidebar {
    display: table;
    height: 50px;
    width: 100vw;
    background-color: $sidebarColor;

    @include breakpoint('m') {
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 2 * #{$padding});
        width: auto;
        // position: fixed;
    }

    header {
        display: table-cell;
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: middle;
        padding: 0 $padding;
        cursor: default;
        white-space: nowrap;

        @include breakpoint('m') {
            padding: 0;
            font-size: 2vw;
        }
    }

    .burger-icon {
        display: block;
        float: right;

        @include breakpoint('m') {
            display: none;
        }
    }
}