
.item-create {
    display: flex;
    flex-flow: column;
    padding: 20px;
}

.item-create #name {
    /* width: 100%; */
    flex-grow: 1;
}

.item-create form {
    flex-flow: row;
}

.item-create button {
    margin-left: 15px;
}

.item-stat {
    margin-right: 5px;
    white-space: nowrap;
}

.items {
    margin-top: 140px;
    flex-grow: 1;
}

@media screen and (max-width: 800px) {
    .section {
        padding: 20px 30px 50px 20px;
    }
}
