name: CI Build RaveNest

on:
  push:
    branches: [ master, Development ]
  pull_request:
    branches: [ master, Development ]

jobs:
  build-dotnet:
    name: Build Service
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
    - name: Install dependencies
      run: dotnet restore RavenNest.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore RavenNest.sln

  build-npm:
    name: Build WebApp
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install NPM packages
      run: npm install
      working-directory: src/RavenNest/WebApp
    - name: Build the WebApp
      run: npm run build
      working-directory: src/RavenNest/WebApp
